{:source-paths ["src"]

 :deps         {:aliases [:shadow-cljs]}

 :nrepl        {:port    3333}
 
 :builds       {:app {:target           :browser
                      :output-dir       "docs/js"
                      :asset-path       "/js"
                      :modules          {:main {:entries [app.core]}}
                      
                      :devtools         {:http-root "docs"
                                         :http-port 3000}
                      :compiler-options {:infer-externs :auto
                                         :externs       ["datascript/externs.js"]}

                      }}}